.footer{
	font-size: 35px;
	line-height: 35px;
	border-top: 3px solid #000;
	padding: 15px 0;
	text-align: center;

	a{
		color: #000;

		&:hover{
			color: $pink;
		}
	}

	@media screen and (max-width: 767px){
		font-size: 4.4vw;
		line-height: 1.333em;
		padding: 10px 0;
	}
}