// Fonts
$main-font: 'FbReformaNarrow', Arial, sans-serif;
$second-font: 'Roboto', Arial, sans-serif;

// Colors
$olive: #ced42f;
$pink: #e95a72;
$gray: #34344a;
$wine: #80475e;
$beige: #c89b7b;

$text-color: #000;
$text-dark: #000;

$primary: $olive;
$accent: $pink;

// Params
$body-bg: #fff; // site background
$t: .3s; // animation duration
$r: 0; // default border radius
$shadow: 0 5px 25px rgba(#000, .1); // default card shadow