.input-field{
	position: relative;
	padding-right: 30px;

	&:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 14.5px 19px 14.5px 0;
		border-color: transparent #fff transparent transparent;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&.disabled{
		&:after{
			opacity: .5;
		}
	}

	&.no-triangle{
		&:after{
			display: none;
		}
	}

	&.no-padding{
		padding-right: 0;
	}

	.field-number{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 62px;
		font-weight: bold;
		color: #fff;
	}

	input{
		border: 0;
		height: 40px;
		width: 100%;
		font-size: 32px;
		color: #fff;
		padding: 0;
		outline: none !important;
		transition: all $t;
		background: transparent;
		border-bottom: 2px solid #fff;
		font-family: $main-font;

		&::placeholder{
			color: #fff;
			transition: all $t;
		}

		&:focus{
			border-bottom-color: $gray;
		}

		&:disabled{
			opacity: .5;
			color: #fff;
		}
	}
}

.form{
	.form-row{
		margin-bottom: 30px;

		&.flex{
			display: flex;
			width: calc(100% + 24px);
			margin-left: -12px;
			margin-right: -12px;

			> .item{
				padding: 0 12px;
			}
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}

.form-button{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: $olive;
	font-family: $main-font;
	height: 80px;
	border: 0;
	font-size: 80px;
	line-height: 1;
	max-width: 700px;
	cursor: pointer;
	transition: all $t;
	margin-bottom: 15px;

	&:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 22.5px 31px 22.5px 0;
		border-color: transparent $pink transparent transparent;
		transition: all $t;
		margin-right: 20px;
	}

	&:not([disabled]){
		&:hover{
			color: #fff;
			background: $wine;

			&:after{
				border-color: transparent $olive transparent transparent;
			}
		}
	}

	&[disabled]{
		color: #000;
		opacity: .5;
		cursor: default;
	}
}

.panel{
	&.wine{
		.form-button{
			&:not([disabled]){
				&:hover{
					background: $pink;
				}
			}
		}
	}
}

.checkbox{
	input{
		display: none;

		+ label{
			padding-right: 20px;
			font-size: 20px;
			line-height: 20px;
			color: #fff;
			position: relative;
			cursor: pointer;

			&:before{
				content: '';
				display: block;
				width: 13px;
				height: 13px;
				background: #fff;
				position: absolute;
				right: 0;
				top: 4px;
			}

			&:after{
				content: '';
				display: block;
				width: 8px;
				height: 5px;
				position: absolute;
				right: 2px;
				top: 6px;
				border-bottom: 1px solid #000;
				border-right: 1px solid #000;
				opacity: 0;
				transition: all $t;
			}
		}

		&:checked{
			+ label{
				&:after{
					transform: rotate(45deg);
					opacity: 1;
				}
			}
		}

		&:disabled{
			+ label{
				opacity: .5;
				cursor: default;
			}
		}
	}
}