.input-field{
	position: relative;
	padding-right: 1.56vw;

	&:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0.76vw 0.99vw 0.76vw 0;
		border-color: transparent #fff transparent transparent;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&.disabled{
		&:after{
			opacity: .5;
		}
	}

	&.no-triangle{
		&:after{
			display: none;
		}
	}

	&.no-padding{
		padding-right: 0;
	}

	.field-number{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 3.23vw;
		font-weight: bold;
		color: #fff;
	}

	input{
		border: 0;
		height: 2.08vw;
		width: 100%;
		font-size: 1.67vw;
		color: #fff;
		padding: 0;
		outline: none !important;
		transition: all $t;
		background: transparent;
		border-bottom: 1px solid #fff;
		font-family: $main-font;

		&::placeholder{
			color: #fff;
			transition: all $t;
		}

		&:focus{
			border-bottom-color: $gray;
		}

		&:disabled{
			opacity: .5;
			color: #fff;
		}
	}

	@media screen and (max-width: 1199px){
		padding-right: 20px;

		.field-number{
			font-size: 40px;
		}

		&:after{
			border-width: 7.5px 10px 7.5px 0;
		}

		input{
			font-size: 17px;
			height: 24px;
		}
	}
}

.form{
	.form-row{
		margin-bottom: 1.56vw;

		&.flex{
			display: flex;
			width: calc(100% + 1.25vw);
			margin-left: -0.63vw;
			margin-right: -0.63vw;

			> .item{
				padding: 0 0.63vw;
				flex-basis: 100%;
			}
		}

		@media screen and (max-width: 1199px){
			margin-bottom: 20px;

			&.flex{
				width: calc(100% + 20px);
				margin-left: -10px;
				margin-right: -10px;

				> .item{
					padding: 0 10px;
				}
			}
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}

.form-button{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: $olive;
	font-family: $main-font;
	height: 4.17vw;
	border: 0;
	font-size: 4.17vw;
	line-height: 1;
	max-width: 36.46vw;
	cursor: pointer;
	transition: all $t;
	margin-bottom: 0.78vw;
	padding: 0 1.56vw;
	color: $text-color;

	&:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 1.17vw 1.61vw 1.17vw 0;
		border-color: transparent $pink transparent transparent;
		transition: all $t;
		margin-right: 1.04vw;
	}

	&:not([disabled]){
		&:hover{
			color: #fff;
			background: $wine;

			&:after{
				border-color: transparent $olive transparent transparent;
			}
		}
	}

	&[disabled]{
		color: $text-color;
		opacity: .5;
		cursor: default;
	}

	@media screen and (max-width: 767px){
		height: 44px;
		font-size: 37px;
		padding: 3px 10px;
		margin-bottom: 8px;
		max-width: 100%;

		&:after{
			border-width: 12px 16px 12px 0;
			flex: none;
		}
	}
}

.panel{
	&.wine{
		.form-button{
			&:not([disabled]){
				&:hover{
					background: $pink;
				}
			}
		}
	}
}

.checkbox{
	input{
		display: none;

		+ label{
			padding-right: 20px;
			font-size: 13px;
			line-height: 13px;
			color: #fff;
			position: relative;
			cursor: pointer;

			&:before{
				content: '';
				display: block;
				width: 13px;
				height: 13px;
				background: #fff;
				position: absolute;
				right: 0;
				top: 0;
			}

			&:after{
				content: '';
				display: block;
				width: 4px;
				height: 8px;
				position: absolute;
				right: 4px;
				top: 1px;
				border-bottom: 1px solid #000;
				border-right: 1px solid #000;
				opacity: 0;
				transition: all $t;
			}
		}

		&:checked{
			+ label{
				&:after{
					transform: rotate(45deg);
					opacity: 1;
				}
			}
		}

		&:disabled{
			+ label{
				opacity: .5;
				cursor: default;
			}
		}
	}
}