.photos-slider{
	.slide{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		img{
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&.with-banana{
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 40vw;
			height: 29.4vw;
			background: url(../img/banana.png) no-repeat;
			background-size: contain;
			position: absolute;
			bottom: 8px;
			left: 50%;
			transform: translateX(-50%);
		}

		.slide{
			padding-bottom: calc(29.4vw + 10px);
		}

		@media screen and (max-width: 767px){
			width: 85% !important;
		}
	}
}