.products-section{
	position: relative;
	padding: 160px 0;
	margin-bottom: 30px;

	@media screen and (max-width: 1099px){
		padding: 120px 0 40px;
	}

	&:before,
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 69px;
		background: url(../img/apples-bg.png) repeat-x center center;
		position: absolute;
		left: 0;
	}

	&:before{
		top: 0;
	}

	&:after{
		bottom: 0;
	}

	.section-inner{
		display: flex;
		align-items: center;
		width: 100%;

		.section-text{
			position: relative;
			width: 460px;
			margin-left: 80px;
			flex: none;

			h3{
				font-size: 317px;
				line-height: 220px;
				font-weight: bold;
				color: $primary;
				position: relative;
				z-index: 3;
			}

			&:before{
				content: '';
				display: block;
				width: 192px;
				height: 192px;
				border-radius: 50%;
				background: $pink;
				position: absolute;
				right: 200px;
				top: 50%;
				transform: translateY(-50%);
			}

			&:after{
				content: '';
				display: block;
				width: 197px;
				height: 210px;
				background: url(../img/fly.png) no-repeat;
				position: absolute;
				right: 186px;
				top: calc(50% - 12px);
				transform: translateY(-50%);
			}
		}

		.section-slider{
			// flex: auto;
			width: calc(100% - 460px - 80px);
		}

		@media screen and (max-width: 1899px){
			.section-text{
				h3{
					font-size: 270px;
					line-height: .7;
				}
			}
		}

		@media screen and (max-width: 1799px){
			.section-text{
				width: 330px;

				h3{
					font-size: 210px;
				}

				&:before{
					right: 150px;
				}

				&:after{
					right: 136px;
				}
			}

			.section-slider{
				width: calc(100% - 330px - 80px);
			}
		}

		@media screen and (max-width: 1299px){
			.section-text{
				width: 240px;

				h3{
					font-size: 150px;
				}

				&:before{
					right: 90px;
				}

				&:after{
					right: 76px;
				}
			}

			.section-slider{
				width: calc(100% - 240px - 80px);
			}
		}

		@media screen and (max-width: 1199px){
			.section-text{
				width: 150px;

				h3{
					font-size: 120px;
				}

				&:before{
					right: 40px;
				}

				&:after{
					right: 26px;
				}

				&:before,
				&:after{
					transform: translateY(-50%) scale(0.5);
				}
			}

			.section-slider{
				width: calc(100% - 150px - 80px);
			}
		}

		@media screen and (max-width: 999px){
			flex-direction: column;

			.section-text{
				width: 100%;
				margin-bottom: 20px;
				margin-left: 0;

				&:before,
				&:after{
					transform: translateY(-50%);
				}

				h3{
					br:last-child{
						display: none;
					}
				}

				&:before{
					right: 220px;
				}

				&:after{
					right: 204px;
				}
			}

			.section-slider{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 767px){
		padding-top: 70px;

		&:before,
		&:after{
			background-size: 44px;
			height: 34px;
		}

		.section-inner{
			flex-direction: column;
			align-items: stretch;

			.section-text{
				width: 100%;

				h3{
					font-size: 93px;
					line-height: 73px;
				}

				&:before{
					width: 130px;
					height: 130px;
					right: 180px;
					top: 50%;
					transform: translateY(-50%);
					background-size: contain;
				}

				&:after{
					width: 132px;
					height: 140px;
					right: 186px;
					top: calc(50% - 7px);
					transform: translateY(-50%);
					background-size: contain;
				}
			}
		}
	}
}