.thank-you-page{
	min-height: 100%;
	flex: auto;
	display: flex;
	justify-content: center;
	padding: 4.42vw 14.06vw;
	background: $pink;
	color: #fff;
	position: relative;

	.th-content{
		max-width: 880px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.th-logo{
		display: block;
		position: absolute;
		right: 1.40vw;
		top: 1.77vw;
		width: 11.14vw;

		img{
			display: block;
			max-width: 100%;
			max-height: 100%;
			transition: all $t;
		}

		&:hover{
			opacity: .8;
		}
	}

	.th-caption{
		text-align: center;
		font-size: 5.20vw;
		line-height: .9;
		margin-bottom: 1.82vw;
		font-weight: bold;

		span{
			font-family: $second-font;
			font-size: .75em;
		}
	}

	.th-card{
		border: 0.46vw solid #fff;
		background: #fff;
		position: relative;
		margin-bottom: 3.12vw;
		width: 100%;

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			border: 0.15vw solid $pink;
			position: absolute;
			left: 0;
			top: 0;
			box-sizing: border-box;
		}

		.card-content{
			position: relative;
			z-index: 5;
			padding: 1.82vw 2.60vw 1.30vw;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		p{
			color: $pink;
			font-size: 1.97vw;
			line-height: 1;
			margin-bottom: 0vw;
			text-align: center;

			&.discount-value{
				font-size: 6.25vw;
				line-height: 0.8;
				font-weight: bold;
				margin-bottom: 1.30vw;
			}
		}
	}

	.th-footer{
		display: flex;
		flex-direction: column;
		align-items: center;

		p{
			text-align: center;
			font-size: 1.97vw;
			line-height: 2.39vw;
			display: flex;
			flex-direction: column;

			strong{
				font-weight: bold;
				font-size: 3.64vw;
			}
		}
	}

	.th-image{
		margin-bottom: 2.60vw;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&.wine{
		background: $wine;

		.th-card{
			&:after{
				border-color: $wine;
			}

			p{
				color: $wine;
			}
		}
	}

	&.gray{
		background: $gray;

		.th-card{
			&:after{
				border-color: $gray;
			}

			p{
				color: $gray;
			}
		}
	}
}