.header{
	position: fixed;
	width: 100%;
	top: 0;
	padding-top: 30px;
	z-index: 100;
	height: 80px;
	transition: all $t;

	.header-inner{
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		width: calc(100% + 120px);
		margin-left: -60px;
		margin-right: -60px;

		.header-block{
			padding: 0 60px;

			&.flex{
				display: flex;
				align-items: center;
			}
		}
	}

	.header-mobile{
		display: none;
		box-shadow: 0 2px 5px rgba(#000, .2);
		align-items: center;
		justify-content: center;
		height: 60px;
		background: #fff;
		z-index: 200;
		position: relative;

		.logo-block{
			height: 42px;
		}

		.menu-opener{
			position: absolute;
			right: 12px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	@media screen and (min-width: 768px){
		&.sticky{
			background: #fff;
			box-shadow: 0 2px 5px rgba(#000, .2);
			z-index: 200;
		}
	}

	@media screen and (max-width: 1399px){
		height: 60px;
		padding-top: 15px;
	}

	@media screen and (max-width: 1099px){
		.header-inner{
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;

			.header-block{
				padding: 0 15px;
			}
		}
	}

	@media screen and (max-width: 767px){
		padding: 0;
		z-index: 200;

		.header-inner{
			display: none;
		}

		.header-mobile{
			display: flex;
		}
	}
}